NET "clk100" LOC="V10";
NET "rst" LOC="B8";

NET "led<0>" LOC = "U16";
NET "led<1>" LOC = "V16";
NET "led<2>" LOC = "U15";
NET "led<3>" LOC = "V15";
NET "led<4>" LOC = "M11";
NET "led<5>" LOC = "N11";
NET "led<6>" LOC = "R11";
NET "led<7>" LOC = "T11";

## A PmodMIC3 modult az A port felso reszebe kell csatlakoztatni.
NET "mic_sck" LOC = "P11";
NET "mic_ss" LOC = "T12";
NET "mic_miso" LOC = "N10";

## A PmodI2S modult a D port felso reszebe kell csatlakoztatni.
NET "i2s_mclk" LOC = "G11";
NET "i2s_lrck" LOC = "F10";
NET "i2s_sck" LOC = "F11";
NET "i2s_sdin" LOC = "E11";
